Repository brave/brave-browser, pull requests merged in 2018-11, with the labels that each got.

#1946 Fix typo on Cent/RHEL
  docs/source/installing-brave.rst
Labels: documentation :writing_hand:

#2074 Release notes for 0.56.x
  CHANGELOG.md
Labels: release-notes

#2197 Release notes for 0.56.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#2201 Upgrade from Chromium 70.0.3538.102 to 70.0.3538.110
  package.json
Labels: merged/0.56.x-Release

#2218 Release notes for 0.56.x Hotfix 2
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#2112 Adds support for unified rewards flag
  lib/start.js
  scripts/commands.js
Labels: feature/rewards
