Repository brave/brave-browser, pull requests merged in 2018-12, with the labels that each got.

#2403 Release notes for 0.57.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#2559 pass through args so we don't have to add every single chromium + bra…
  lib/start.js
  scripts/commands.js
Labels: QA/No

#2658 Release notes for 0.58.x (Release)
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#2704 Release notes for 0.58.x Hotfix 1 (Release Channel)
  CHANGELOG.md
Labels: QA/No, release-notes/exclude

#2707 Upgrade from 72.0.3626.17 to 72.0.3626.28
  package.json
Labels: uplift-approved/0.59.x-Beta

#2722 Release notes for 0.58.x Hotfix 2 (Release Channel)
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude
