Repository brave/brave-browser, pull requests merged in 2018-09, with the labels that each got.

#1036 Fix missing resource copy files
  lib/util.js
Labels: 0.55.x

#1094 Fix about version info
  .github/ISSUE_TEMPLATE.md
Labels: 0.56.x

#1295 Bump to 0.57.1
  package-lock.json
  package.json
Labels: merged/0.57.x
