Repository brave/brave-browser, pull requests merged in 2018-10, with the labels that each got.

#1366 Add details to reproducible sections
  .github/ISSUE_TEMPLATE.md
Labels: copy/content/text

#1602 Update issue template
  .github/ISSUE_TEMPLATE.md
Labels: merged/0.57.x

#1651 Adds QA flags for rewards
  .gitignore
  lib/start.js
  scripts/commands.js
Labels: feature/rewards

#1655 Include Linux release channel instructions in ReadTheDocs.
  docs/source/installing-brave.rst
Labels: documentation :writing_hand:

#1751 Add translations to README
  README.md
Labels: merged/0.58.x-nightly

#1760 Remove browser-laptop from issue template
  .github/ISSUE_TEMPLATE.md
Labels: documentation :writing_hand:

#1854 npm audit command should check vendor directories
  package.json
  scripts/audit.js
Labels: dev-setup, security
