Repository brave/brave-browser, pull requests merged in 2019-11, with the labels that each got.

#6715 Increase timeout for unit tests on Windows and Mac
  Jenkinsfile
Labels: CI/skip

#6714 Release notes for 0.70.x Hotfix 1
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#6725 CI pipeline sync 0.72.x
  Jenkinsfile
Labels: CI/skip

#6723 CI pipeline sync 0.70.x
  Jenkinsfile
Labels: CI/skip

#6816 added package.json back
  package.json
Labels: CI/skip

#6817 fixed pinned branch for b-c
  package.json
Labels: CI/skip

#6827 Release notes for 0.70.x Hotfix 2
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#6839 Add brave_safetynet_api_key to gn args only for android build
  lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows

#6896 Release notes for 0.71.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#6935 Fixing handlebars vulnerability
  package-lock.json
Labels: dependencies

#6975 Update Widevine version to 4.10.1582.2 on linux
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#7005 Release notes for 1.0.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#7018 Fix handlebars vulnerability
  package-lock.json
Labels: CI/skip, dependencies

#7012 Upgrade from Chromium 78.0.3904.97 to Chromium 78.0.3904.108 (1.1.x)
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#7010 Upgrade from Chromium 78.0.3904.97 to Chromium 78.0.3904.108 (1.2.x)
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5169 add test dmg step for macos build
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7099 improve test macos install step
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows
