Repository brave/brave-browser, pull requests merged in 2019-10, with the labels that each got.

#6296 Release notes for 0.69.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#6334 Fix spelling mistake in 0.69.x release notes
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#6376 Set enable_profiling to false for Android debug build config
  lib/config.js
Labels: android-related, build

#6432 Release notes for 0.69.x Hotfix 1
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#6498 re-add package json
  package.json
Labels: CI/skip

#6500 fix branch in package.json
  package.json
Labels: CI/skip

#6638 Fix 6434: Using vpython for lint
  lib/util.js
  scripts/.vpython
  scripts/lint.py
Labels: QA/No

#6649 Fix 6434: Using vpython for lint (0.71.x)
  lib/util.js
  scripts/.vpython
  scripts/lint.py
Labels: QA/No

#6672 Issue 6593: Trying to fix git cache path on Win.
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos
