Repository brave/brave-browser, pull requests merged in 2019-03, with the labels that each got.

#3537 Release notes for 0.60.x Hotfix #1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#3592 Release notes for 0.60.x Hotfix 2
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#3696 Release notes for 0.61.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#3842 Issue 3841: Update PR template to add a check for test-security
  .github/PULL_REQUEST_TEMPLATE.md
Labels: QA/No

#3838 Release notes for 0.61.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes
