Repository brave/brave-browser, pull requests merged in 2019-04, with the labels that each got.

#3929 Issue 3927: Whitelist storage.googleapis.com which is now proxied though crlsets.brave.com
  lib/whitelistedUrlPatterns.js
Labels: QA/No

#3980 Release notes for 0.62.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#3999 Release notes for 0.62.x Fix
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4032 Release notes for 0.62.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4036 Issue 4030: Using SIGKILL instead of SIGTERM to terminate the process on timeout
  lib/start.js
Labels: QA/No

#4127 Updating the Issue template
  .github/ISSUE_TEMPLATE.md
Labels: enhancement

#4138 Update PR template to include documentation fixes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: QA/No

#4217 Release notes for 0.63.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude
