Repository brave/brave-browser, pull requests merged in 2019-05, with the labels that each got.

#4286 Fixes several release notes nit
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4287 Removing unneeded/duplicate text in release notes
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4326 Release notes for 0.63.x Hotfix #1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4439 Release notes for 0.64.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4454 don't default to arm (x86/x64 builds are better for the emulator)
  lib/config.js
Labels: android-related

#4469 Release notes for 0.64.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4542 Release notes for 0.64.x Hotfix 2
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#4541 fixed ci skipping
  Jenkinsfile
Labels: CI/Skip

#4553 added early fail in CI pipeline if version mismatch between b-b and b-c
  Jenkinsfile
Labels: CI/Skip

#3456 Resolving problem with rustup in Dockerfile
  Dockerfile
Labels: CI/Skip

#4551 Issue 4283: Disabling field trials
  lib/config.js
Labels: CI/Skip
