Repository brave/brave-browser, pull requests merged in 2019-02, with the labels that each got.

#3181 Release notes for 0.59.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#3217 Fixes version for 0.59.x release notes
  CHANGELOG.md
Labels: QA/No, bug, release-notes, release-notes/exclude

#3223 Release notes for 0.59.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#3242 Use CDN for publisher list
  lib/whitelistedUrlPrefixes.js
Labels: feature/rewards

#2985 added Windows to PR builder pipeline
  Jenkinsfile
Labels: QA/No

#3274 Use CDN for publisher list
  lib/whitelistedUrlPrefixes.js
Labels: feature/rewards

#3275 Use CDN for publisher list
  lib/whitelistedUrlPrefixes.js
Labels: feature/rewards

#3450 Release notes for 0.60.x
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude
