Repository brave/brave-browser, pull requests merged in 2019-01, with the labels that each got.

#2854 add support for building/running signed app in development
  lib/build.js
  lib/config.js
  lib/start.js
  lib/util.js
Labels: merged/0.60.x

#1983 Enable hangouts extension to allow screen share
  lib/config.js
Labels: merged/0.61.x

#2857 Enable hangouts extension to allow screen share
  lib/config.js
Labels: merged/0.60.x

#2624 Jenkins pipeline for building PRs on Linux
  .gitignore
  Jenkinsfile
  docs/Makefile
Labels: QA/No

#2921 Release notes for 0.58.x Hotfix 3 (Release Channel)
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#2855 add support for building/running signed app in development
  lib/build.js
  lib/config.js
  lib/start.js
  lib/util.js
Labels: 0.59.x, QA/No

#2933 Upgrade from Chromium 72.0.3626.28 to 72.0.3626.53
  package.json
Labels: 0.61.x

#2934 Upgrade from Chromium 72.0.3626.28 to 72.0.3626.53
  package.json
Labels: 0.60.x

#2935 Upgrade from Chromium 72.0.3626.28 to 72.0.3626.53
  package.json
Labels: 0.59.x

#2916 Update RHEL/Centos docs to prevent permission denied errors
  docs/source/installing-brave.rst
Labels: QA/No, documentation :writing_hand:

#2680 Improve linux build instructions
  docs/source/installing-brave.rst
Labels: 0.61.x, QA/No

#2974 Replace tee -a with just tee in Centos/RHEL docs
  docs/source/installing-brave.rst
Labels: documentation :writing_hand:

#3085 update_patches command becomes async
  lib/updatePatches.js
  lib/util.js
Labels: dev-experience
