Repository brave/brave-browser, pull requests merged in 2019-07, with the labels that each got.

#5087 Release notes for 0.66.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#5101 Remove brave-keyring from install documentation
  docs/source/installing-brave.rst
Labels: CI/skip

#5122 added official build checkbox to ci pipeline
  Jenkinsfile
Labels: CI/skip

#5080 credential fixes for CI pipeline
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#5262 Release notes for 0.66.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#5276 Fix #5275: Update whitelist patterns for new crlset request URLs
  lib/whitelistedUrlPatterns.js
Labels: QA/No

#5328 Release notes for 0.66.x Hotfix 2
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#5347 Improve apt installation instructions
  docs/source/installing-brave.rst
Labels: OS/Linux
