Repository brave/brave-browser, pull requests merged in 2019-12, with the labels that each got.

#7171 Clarify what we mean by 64-bit Linux distros
  docs/source/installing-brave.rst
Labels: CI/skip, documentation :writing_hand:

#7173 Delete transifex translations
  lib/l10nDeleteTranslations.js
  lib/l10nUtil.js
  lib/pullL10n.js
  lib/transifexAPI.js
  package.json
  scripts/commands.js
Labels: CI/skip

#7175 Reduce verbosity of GRD to GRDP mapping
  lib/l10nUtil.js
Labels: CI/skip

#7155 Automatically generate LICENSE files for external components
  .github/CODEOWNERS
  lib/build.js
  lib/licensing.js
Labels: CI/skip

#7197 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#7243 removed checksum upload
  .npmrc
Labels: CI/skip

#7246 removed checksum upload
  .npmrc
Labels: CI/skip

#7247 removed checksum upload
  .npmrc
Labels: CI/skip

#7248 removed checksum upload
  .npmrc
Labels: CI/skip

#6862 added container steps for linux and android if use ECS
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#7307 Release notes for 1.1.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#7334 Easier Debian/Ubuntu installation instructions
  docs/source/installing-brave.rst
Labels: CI/skip, documentation :writing_hand:

#7345 Install pywin32 into depot_tools's python (1.1.x).
  lib/util.js
Labels: CI/skip

#7343 Install pywin32 into depot_tools's python (1.3.x).
  lib/util.js
Labels: CI/skip

#7344 Install pywin32 into depot_tools's python (1.2.x).
  lib/util.js
Labels: CI/skip

#7377 Release notes for 1.1.x Hotfix #1
  CHANGELOG.md
Labels: QA/No, release-notes, release-notes/exclude

#7416 Release notes for 1.1.x Hotfix 2
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#7384 Sign apk for Android release builds
  lib/config.js
Labels: CI/skip-linux

#7463 Release Notes for 1.1.x Hotfix 3
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude
