Repository brave/brave-browser, pull requests merged in 2019-08, with the labels that each got.

#5495 Release notes for 0.67.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#5579 Release notes for 0.67.x Hotfix1
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#5627 Release notes for 0.67.x Hotfix2
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#5667 Add a note about Debian 9 gnutls bug
  docs/source/installing-brave.rst
Labels: CI/skip, OS/Linux, setup/installer

#5699 update Ubuntu installation docs
  docs/source/installing-brave.rst
Labels: CI/skip, OS/Linux, documentation :writing_hand:

#5754 Release notes for 0.68.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#5678 Changed CentOS 7 installation instructions
  docs/source/installing-brave.rst
Labels: CI/skip

#5836 add test build step for windows
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos
