Repository brave/brave-browser, pull requests merged in 2019-06, with the labels that each got.

#4685 added labels to skip building specified OS in CI pipeline
  Jenkinsfile
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4688 added skip of build per OS based on b-c PR labels
  Jenkinsfile
Labels: CI/Skip

#4691 fixed CI pipeline skipping by OS
  Jenkinsfile
Labels: CI/Skip

#4702 added ios to ci pipeline
  Jenkinsfile
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4717 Fix check for target os equality with 'ios'
  lib/config.js
Labels: CI/Skip, QA/No

#4747 Release notes for 0.65.x
  CHANGELOG.md
Labels: CI/Skip, QA/No, release-notes, release-notes/exclude

#4000 Enable widevine cdm host verification
  Jenkinsfile
  lib/build.js
  lib/config.js
  lib/util.js
  scripts/commands.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4860 added test execution for ios in ci pipeline
  Jenkinsfile
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4866 switched to arm instead of arm64 for android in ci pipeline
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4871 added android and ios to github issue template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#4876 Fix wrong src directory for widevine sig file generation on Windows
  lib/util.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4882 fixed lint to use b-c base branch when no b-b PR
  Jenkinsfile
Labels: CI/skip

#4885 Disable widevine cdm host verification on MacOS
  lib/config.js
Labels: CI/skip

#4912 Enable widevine vmp on MacOS
  lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4916 switched to digicert timestamp server
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#4920 Revert "Enable widevine vmp on MacOS"
  lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4927 Release notes for 0.65.x Hotfix1
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#4938 fixed test result parsing in CI pipeline
  Jenkinsfile
Labels: CI/skip

#4961 added slack notifications for b-c prs
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4972 Upgrade from Chromium 75.0.3770.90 to Chromium 75.0.3770.100 (0.65.x)
  package.json
Labels: CI/skip-android, CI/skip-ios

#4991 Release notes for 0.65.x Hotfix 2
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#4909 Cleanup previous widevine vmp PRs
  lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4996 Enable widevine VMP on MacOS by default
  lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5003 config.shouldSign() should return false if skip_signing is true
  lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5023 Widevine 4.10.1440.18 is ready to use on linux
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#5027 Fix adblock-rust test path
  lib/test.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5021 attempted fix for test result parsing and init on windows
  Jenkinsfile
Labels: CI/skip-android, CI/skip-linux

#5044 removed test result parsing and added s3 init step
  Jenkinsfile
Labels: CI/skip
