Repository brave/brave-browser, pull requests merged in 2020-06, with the labels that each got.

#10092 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#10035 Add OS/Desktop label for desktop issues
  .github/ISSUE_TEMPLATE/desktop.md
Labels: CI/skip, documentation :writing_hand:

#10156 Release notes for 1.9.x Hotfix 2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#10162 [Android] Release notes for 1.9.x HF1
  CHANGELOG_ANDROID.md
Labels: OS/Android, QA/No, release-notes, release-notes/exclude

#10178 Fix iOS debug builds and generate dSYMs for iOS debug builds
  lib/config.js
Labels: CI/skip, QA/No

#10194 Whitelist brave sync v2 servers in the network auditor
  lib/whitelistedUrlPrefixes.js
Labels: CI/skip

#10187 Fix 10182: Set SafeBrowsing endpoint at build time
  README.md
  lib/config.js
  lib/test.js
Labels: CI/run-network-audit

#10233 Fix 10182: Set SafeBrowsing endpoint at build time
  README.md
  lib/config.js
Labels: CI/run-network-audit

#10266 Release notes for 1.10.x
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#10313 let `util.run` handle logging
  lib/util.js
Labels: dev-concern

#10342 Release notes 1.10.x hotfix1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#10337 Fix default 'Component' build for iOS
  lib/config.js
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10355 fix package
  package.json
Labels: CI/skip, documentation :writing_hand:

#10403 Release notes for 1.10.x Hotfix 2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#10407 [Android] Release notes for 1.10.x
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#10413 [Android] Release notes for 1.10.x Hotfix 1
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#10427 Release notes for 1.10.x Hotfix 3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#10484 [Android] Release notes for 1.10.x HF2
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#10414 Android sync v2 needs enable_brave_sync flag
  lib/config.js
Labels: feature/sync
