Repository brave/brave-browser, pull requests merged in 2020-08, with the labels that each got.

#11031 Add Release notes for Android 1.11.x
  CHANGELOG_ANDROID.md
Labels: CI/skip, documentation :writing_hand:

#11087 Adding new combined template for both Desktop & Android
  .github/ISSUE_TEMPLATE/DesktopAndroid.md
  .github/ISSUE_TEMPLATE/android-issue.md
Labels: CI/skip, QA/No

#11211 Release notes for 1.12.x
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#11287 Add Release Notes for Android 1.12.x Release
  CHANGELOG_ANDROID.md
Labels: CI/skip, documentation :writing_hand:

#11316 Release notes for 1.12.x Hotfix #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#11348 fixed ci pipeline params
  Jenkinsfile
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11354 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#11449 Fixes incorrect CR listed
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes/exclude

#11473 Release notes for 1.13.x
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#11533 Add Manjaro instructions to unofficial packages
  docs/source/installing-brave.rst
Labels: documentation :writing_hand:
