Repository brave/brave-browser, pull requests merged in 2020-04, with the labels that each got.

#8981 Release notes for 1.5.x Hotfix 3
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#8970 pass brave_channel in env (uplift to 1.7.x)
  lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8998 Upgrade from Chromium 80.0.3987.162 to Chromium 80.0.3987.163
  package.json
Labels: CI/skip

#9012 Release notes for 1.5.x Hotfix4
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#8994 don't copy java/res
  lib/util.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9056 [Android] Release notes for 1.5.x
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9059 [Android] Release notes for 1.5.x Hotfix #1
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9077 uplift PR 9007 to 1.8.x
  Jenkinsfile
Labels: CI/skip

#9087 remove-chromium-src-param
  Jenkinsfile
Labels: CI/skip

#9084 Add super referral's mapping table url to whitelisted url for auditing
  lib/whitelistedUrlPatterns.js
Labels: QA/No

#9095 [Android] Release notes for 1.5.x Hotfix 2
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9088 uplifted ci pipeline changes
  Jenkinsfile
Labels: CI/skip

#9089 uplifted ci pipeline changes
  Jenkinsfile
Labels: CI/skip, QA/No

#9097 fixed chromium branch
  package.json
Labels: CI/skip

#9098 reverted to chromium tag
  package.json
Labels: CI/skip

#9148 added signing for android in ci pipeline
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9156 added signing for android in ci pipeline 1.7.x
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9183 Add process.exit to sync
  scripts/sync.js
Labels: CI/skip

#9184 Add process.exit to sync
  scripts/sync.js
Labels: CI/skip

#9116 Pr9115 android signing uplift 1.7.x
  lib/build.js
  lib/createDist.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9175 Android symbols archive have .tar extension now
  Jenkinsfile
Labels: build

#9198 increased init timeout in ci pipeline
  Jenkinsfile
Labels: CI/skip

#9201 Release notes for 1.7.x
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9208 Update 1.7.x Release notes
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9117 Pr9115 android signing uplift 1.8.x
  lib/build.js
  lib/createDist.js
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9103 Upgrade from Chromium 80.0.3987.163 to Chromium 81.0.4044.92 (1.7.x)
  lib/config.js
  lib/util.js
  package.json
  scripts/sync.js
  scripts/updatePatches.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9225 ci pipeline init timeout 1.8.x
  Jenkinsfile
Labels: CI/skip

#9226 ci pipeline init timeout 1.7.x
  Jenkinsfile
Labels: CI/skip

#9240 Revert "Remove GIT_CACHE_PATH temporarily to avoid remote inconsisten…
  Jenkinsfile
Labels: CI/skip

#9277 Revert "Merge pull request #9259 from brave/mplesa-ci-pipeline-gclient-py-version"
  Jenkinsfile
Labels: CI/skip

#9295 took out build step for android
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9297 ci pipeline sync 1.8.x
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9298 ci pipeline sync 1.7.x
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9282 Upgrade from Chromium 81.0.4044.92 to Chromium 81.0.4044.113 (uplift to 1.8.x)
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#9286 Upgrade from Chromium 81.0.4044.92 to Chromium 81.0.4044.113 (uplift to 1.7.x)
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#9357 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#9363 use correct brave-core branch name (uplift to 1.9.x)
  lib/util.js
Labels: CI/skip

#9360 Use Chromium GitHub instead of Gerrit instance
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos

#9334 Remove link to deprecated browser-android-tabs repo in README.md
  README.md
Labels: CI/skip

#9428 Temporarily disable gclient/git caching (1.8.x)
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#9400 Upgrade from Chromium 81.0.4044.113 to Chromium 81.0.4044.122. (uplift to 1.9.x)
  package.json
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-macos

#9401 Upgrade from Chromium 81.0.4044.113 to Chromium 81.0.4044.122. (uplift to 1.8.x)
  package.json
Labels: CI/skip

#9402 Upgrade from Chromium 81.0.4044.113 to Chromium 81.0.4044.122. (uplift to 1.7.x)
  package.json
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#9234 added android unit tests to the ci pipeline
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9494 Upgrade from Chromium 81.0.4044.122 to Chromium 81.0.4044.129
  package.json
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9505 Upgrade from Chromium 81.0.4044.122 to Chromium 81.0.4044.129 (uplift to 1.8.x)
  package.json
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9491 Added ability to run UI java tests for Android
  lib/test.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9507 separated ci pipeline
  Jenkinsfile
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows
