Repository brave/brave-browser, pull requests merged in 2020-05, with the labels that each got.

#9561 Fix 9558: Disable DoH for network-audit
  lib/start.js
  package.json
Labels: CI/run-network-audit

#9615 synced ci pipeline
  Jenkinsfile
Labels: CI/skip

#9627 Release notes for 1.8.x Hotfix1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9649 Upgrade from Chromium 81.0.4044.129 to Chromium 81.0.4044.138 (1.8.x).
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#9622 fixed draft PR skip, slack and PR statuses in CI pipeline
  Jenkinsfile
Labels: CI/skip

#9673 Release notes for 1.8.x Hotfix2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#9707 fixed build status init
  Jenkinsfile
Labels: CI/skip

#9708 fixed pr details init
  Jenkinsfile
Labels: CI/skip

#9730 Release notes for Android 1.7.x
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9735 Release notes for Android 1.8.x
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9752 Release notes for 1.8.x Hotfix 3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9784 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#9786 Release notes for Android 1.8.x Hotfix 1
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#9859 Release notes for 1.9.x
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#9763 refactored ci pipeline
  Jenkinsfile
Labels: CI/skip

#9966 Adds support for vmodule
  lib/test.js
  scripts/commands.js
Labels: CI/skip-ios, tests

#9983 Using audit_deps.py for npm audit (uplift to 1.10.x)
  scripts/audit.js
Labels: CI/skip

#9982 Using audit_deps.py for npm audit (uplift to 1.9.x)
  scripts/audit.js
Labels: CI/skip

#9076 don't copy ntp resources
  lib/util.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10002 Release notes for 1.9.x Hotfix 1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude
