Repository brave/brave-browser, pull requests merged in 2020-07, with the labels that each got.

#10558 fix typo
  lib/util.js
Labels: CI/skip, documentation :writing_hand:

#10560 Remove string replacements as they are done in Python now
  lib/l10nUtil.js
Labels: QA/No, release-notes/exclude

#10625 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#10770 Release notes for 1.11.x
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#10816 Removes dev from the create issue template
  .github/ISSUE_TEMPLATE/desktop.md
Labels: QA/No, release-notes/exclude

#10843 Fix 9365: Add gn check to npm scripts (Uplift 1.11.x)
  lib/gnCheck.js
  package.json
  scripts/commands.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#10858 7957: Initialize branding_path_component = "brave" in config.js
  lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#10916 Release notes for 1.11.x Hotfix1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#10969 Release notes for 1.11.x HF2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#10976 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#10885 move commands to brave-core
  lib/applyPatches.js
  lib/build.js
  lib/calculateFileChecksum.js
  lib/calculateFileChecksum.test.js
  lib/chromiumRebaseL10n.js
  lib/config.js
  lib/createDist.js
  lib/gitPatcher.js
  lib/gitPatcher.test.js
  lib/gnCheck.js
  lib/jsconfig.json
  lib/l10nDeleteTranslations.js
  lib/l10nUtil.js
  lib/logging.js
  lib/pullL10n.js
  lib/pushL10n.js
  lib/start.js
  lib/sync/logging.js
  lib/test.js
  lib/transifexAPI.js
  lib/updatePatches.js
  lib/upload.js
  lib/util.js
  lib/versions.js
  lib/whitelistedUrlPatterns.js
  lib/whitelistedUrlPrefixes.js
  package.json
  scripts/audit.js
  scripts/commands.js
  scripts/gclient.js
  scripts/init.js
  scripts/lint.py
  scripts/sync.js
  scripts/updatePatches.js
Labels: dev-concern, dev-experience, dev-setup

#11005 network_audit -> network-audit
  package.json
Labels: CI/skip
