Repository brave/brave-browser, pull requests merged in 2020-12, with the labels that each got.

#12972 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#13034 Release notes for 1.17.x - Release #4
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#13037 Release notes for 1.17.x - Release #4
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#13140 [Desktop] Release notes for 1.18.x Release #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13145 Fix formatting of 1.18.x Release Notes
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13147 Fix release note formatting part 2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13248 [Desktop] Release notes for 1.18.x Release #2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13251 [Android] Release notes for 1.18.x Release #2
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#13338 Release notes for 1.18.x Release #3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#13349 Release notes for Release #3 (Release Channel)
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude
