Repository brave/brave-browser, pull requests merged in 2020-02, with the labels that each got.

#8048 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#8053 Upgrade from Chromium 80.0.3987.78 to Chromium 80.0.3987.85 (1.5.x).
  package.json
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8035 Fix 8034: Add Crowd Deny requests to audit whitelist
  lib/whitelistedUrlPatterns.js
  lib/whitelistedUrlPrefixes.js
Labels: QA/No

#8081 Upgrade from Chromium 80.0.3987.85 to Chromium 80.0.3987.87 (1.5.x).
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#8080 Upgrade from Chromium 80.0.3987.85 to Chromium 80.0.3987.87 (1.4.x).
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#8079 Upgrade from Chromium 80.0.3987.85 to Chromium 80.0.3987.87 (1.3.x).
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#8101 added feature to run network audit on demand and disabled sccache on windows
  Jenkinsfile
Labels: CI/run-network-audit

#8125 Release notes for 1.3.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#8099 don't treat warnings as errors for non release builds
  lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8131 Fixes app icon on mono builds
  lib/util.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8139 Revert "Merge PR #8101 brave/mplesa-ci-pipeline-network-audit-label"
  Jenkinsfile
Labels: CI/skip

#8142 added feature to run network audit on demand
  Jenkinsfile
Labels: CI/skip

#8146 Fixes app icon on mono builds
  lib/util.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#8170 Release notes for 1.3.x Hotfix 1
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#8166 fixes an app icons in debug mode
  lib/util.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7983 Add missing dnf-plugins-core package for Fedora installs
  docs/source/installing-brave.rst
Labels: documentation :writing_hand:

#8179 improve testInstallMac step
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8038 Remove hyphens in the adblock list directories
  lib/licensing.js
Labels: dev-concern

#8245 uplift of 7859 8179 8101
  Jenkinsfile
Labels: CI/skip

#8247 uplift of 7859 8179 8101
  Jenkinsfile
Labels: CI/skip

#8248 uplift of 7859 8179 8101
  Jenkinsfile
Labels: CI/skip

#8111 Update to use GitHub Oauth2 token vs. deprecated querystring
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#8266 removed version mismatch check
  Jenkinsfile
Labels: CI/skip

#8321 Release notes for 1.3.x Hotfix 2
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes

#8323 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#8324 Release notes 1.3.x hotfix 2 (Spacing Fix)
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#8400 Release notes for 1.4.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#8418 Visual changes for search accelerator button
  lib/util.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8444 fixed null error in ci pipeline
  Jenkinsfile
Labels: CI/skip

#8433 Fixes start for release
  lib/start.js
Labels: dev-setup

#8430 Fixes init for Ubuntu
  lib/gitPatcher.js
Labels: dev-setup
