Repository brave/brave-browser, pull requests merged in 2020-01, with the labels that each got.

#7569 Remove no-longer-necessary user namespace comment (#7506)
  docs/source/installing-brave.rst
Labels: documentation :writing_hand:

#7616 Release Notes for 1.2.x
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#7653 fix-testinstall-mac when no params found
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7660 Release notes for 1.2.x Hotfix 1
  CHANGELOG.md
Labels: QA/No, release-notes/exclude

#7692 Set android_channel based on channel
  lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, android-core-release

#7711 Overwrite google default ntp tiles (android)
  lib/util.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7721 added github upload for android apks
  lib/upload.js
  scripts/commands.js
Labels: CI/skip

#7782 Upgrade from Chromium 79.0.3945.117 to Chromium 79.0.3945.130
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#7737 Copy res_template dir files for Android build
  lib/util.js
Labels: QA/No, android-core-release, android-related

#7607 Add Android issue template
  .github/ISSUE_TEMPLATE/android-issue.md
  .github/ISSUE_TEMPLATE/desktop.md
Labels: CI/skip, documentation :writing_hand:

#7804 Release notes for 1.2.x Hotfix 2
  CHANGELOG.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#7828 collects Android object files
  scripts/commands.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7859 fix issue 7858 for test-install on macOS
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7878 enable video playing on Android
  lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7894 set Android version to the same as desktop
  lib/config.js
Labels: CI/skip

#7837 added dist to android in ci pipeline
  Jenkinsfile
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows

#7909 Add config for Android developer options
  lib/config.js
Labels: QA/No, android-related, dev-concern

#7936 added qa code to android core npm config
  Jenkinsfile
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7849 Add Android-related label for Android template
  .github/ISSUE_TEMPLATE/android-issue.md
Labels: documentation :writing_hand:

#7971 Fix 7959: Add tor.bravesoftware.com to audit whitelist (1.4.x)
  lib/whitelistedUrlPrefixes.js
Labels: CI/skip

#7973 Fix 7959: Add tor.bravesoftware.com to audit whitelist (1.3.x)
  lib/whitelistedUrlPrefixes.js
Labels: CI/skip
