Repository brave/brave-browser, pull requests merged in 2020-10, with the labels that each got.

#11980 Documentation Improvements
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/installing-brave.rst
Labels: documentation :writing_hand:

#12039 clean Read the Docs, point and redirect to brave.com/linux
  docs/Makefile
  docs/make.bat
  docs/source/_static/custom.css
  docs/source/build-instructions.rst
  docs/source/conf.py
  docs/source/docs.rst
  docs/source/index.rst
  docs/source/installing-brave.rst
Labels: CI/skip, release-notes/exclude

#12009 Release notes for 1.15.x Release #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#12123 Release notes for 1.15.x Release #3
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#12160 Release Notes for 1.15.x Release #3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#12161 Release notes for 1.15.x Release #3
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#12220 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#12255 Release notes for 1.15.x Release #4
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#12259 Release notes for 1.15.x Release #4
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude

#12337 Release notes for 1.16.x Release #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#12346 Release Notes for 1.16.x Release #1
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude
