Repository brave/brave-browser, pull requests merged in 2021-09, with the labels that each got.

#17848 [Desktop] Release notes for 1.29.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#17857 Add Changelog for Android 1.29.78
  CHANGELOG_ANDROID.md
Labels: documentation :writing_hand:, CI/skip

#17953 [Desktop] Release notes for 1.29.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#17957 Release notes for `1.29.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#17921 Link to our Goma instructions for staff
  README.md
Labels: documentation :writing_hand:, dev-setup, QA/No, release-notes/exclude, CI/skip

#18064 Release notes for `1.29.x - Release #5`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#18111 Release notes for `1.29.x - Release #6`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#18113 Release notes for `1.29.x - Release #6`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#18180 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#18350 [Desktop] Release notes for 1.30.x Release #1
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop
