Repository brave/brave-browser, pull requests merged in 2021-08, with the labels that each got.

#17350 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#17368 Release notes for 1.27.x - Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, CI/skip, OS/Desktop

#17389 Release notes for `1.27.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#17390 `1.27.x - Release #3` Fix Typo
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#17428 [Desktop] Release notes for 1.28.x Release #1
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#17469 Release notes for `1.28.x`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#17574 Release notes for `1.28.x - Release #2`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#17576 Release notes for 1.28.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#17577 Release notes for 1.28.x - Release #2 Fix
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#17773 [Desktop] Release notes for 1.29.x Release #1
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop
