Repository brave/brave-browser, pull requests merged in 2021-02, with the labels that each got.

#13935 [Desktop] Release notes for 1.19.x Release #3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13940 Update Desktop Release Notes for 1.19.x Release #3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13942 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#13963 Release notes for 1.19.x Release #4
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#14002 [Desktop] Release notes for 1.19.x Release #5
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#14005 [Android] Release notes for 1.19.x Release #5
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#13954 Update PR template suggestion for auto-closing issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#13993 Add clean lock file before checkout
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, QA/No

#14063 lock fix for ci pipeline (1.21.x)
  Jenkinsfile
Labels: CI/skip

#14064 lock fix for ci pipeline (1.20.x)
  Jenkinsfile
Labels: CI/skip

#14059 [Desktop] Release notes for 1.20.x Release #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#14098 Release notes for 1.20.x
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#14253 auto assign PR to author
  .github/ISSUE_TEMPLATE/all.md
  .github/ISSUE_TEMPLATE/android.md
  .github/workflows/pull_request.yml
Labels: CI/skip

#14264 [Desktop] Release notes for 1.20.x Release 2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#14268 Release notes for 1.20.x Release #2
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#14327 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#14347 [Desktop] Release notes for 1.20.x Release 3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude
