Repository brave/brave-browser, pull requests merged in 2021-01, with the labels that each got.

#13440 Release notes for 1.18.x Release #4
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13442 Release notes for 1.18.x Release #4
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#13560 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#13646 Upgrade from Chromium 88.0.4324.89 to Chromium 88.0.4324.96 (1.20.x).
  package.json
Labels: CI/skip

#13645 Upgrade from Chromium 88.0.4324.89 to Chromium 88.0.4324.96 (1.19.x).
  package.json
Labels: CI/skip

#13656 Release notes for 1.19.x
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13659 Release notes 1.19.x Fix
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#13665 Release notes for 1.19.x
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#13812 Release notes for 1.19.x - Release #2
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#13810 Release notes for 1.19.x - Release #2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude
