Repository brave/brave-browser, pull requests merged in 2021-11, with the labels that each got.

#19159 Release notes for `1.31.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#19162 Release notes for `1.31.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#19202 Release notes for `1.31.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#19231 Readme: describe `--ignore_chromium` flag
  README.md
Labels: documentation :writing_hand:, CI/skip

#19282 Add Brave Wallet to the list of documentation
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#19323 [Desktop] Release notes for 1.31.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#19325 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#19342 Release notes for `1.31.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#19672 Release notes for `1.32.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#19727 Release notes for `1.32.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, CI/skip, OS/Android

#19742 Release notes for `1.32.x - Release #3`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#19771 reverted project compatible with npm 7
  lib/util.js
Labels: CI/skip

#19843 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
