Repository brave/brave-browser, pull requests merged in 2021-05, with the labels that each got.

#15622 [Desktop] Release notes for 1.24.x Release #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#15752 [Desktop] Release notes for 1.24.x Release #2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#15767 Release notes for 1.24.x - Release #2
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#15840 [Desktop] Release notes for 1.24.x Release #3
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#15850 Release notes for 1.24.x Release #3
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#15914 Remove files moved to brave-core.
  .github/CODEOWNERS
Labels: CI/skip, QA/No, release-notes/exclude

#15974 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#16001 [Android] Release notes for 1.24.x Release #4
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#16002 [Desktop] Release notes for 1.24.x Release #4
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#16119 Release notes for 1.25.x Release #2
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes/exclude
