Repository brave/brave-browser, pull requests merged in 2021-04, with the labels that each got.

#15057 CI pipeline skip improvements
  Jenkinsfile
Labels: CI/skip

#15074 Release notes for 1.22.x Release #5
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes/exclude

#15072 CI pipeline skip improvements
  Jenkinsfile
Labels: CI/skip

#15073 CI pipeline skip improvements
  Jenkinsfile
Labels: CI/skip

#15077 Release notes for 1.22.x Release #5
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes/exclude

#15174 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#15290 Release notes for 1.22.x Release #6
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes/exclude, tests

#15293 Release notes for 1.22.x Release #6
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes/exclude

#15306 removed unused npm target
  package.json
Labels: CI/skip

#15314 [Desktop] Release notes for 1.23.x Release #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#15404 Release notes 1.23
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#15405 Release notes for 1.23.x Fix
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#15456 [Desktop] Release notes for 1.23.x Release #2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#15470 Release notes for 1.23.x Release #3
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes/exclude

#15471 Release notes for 1.23.x Release #3 Fix
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#15544 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#15538 Release notes for 1.23.x Release #4
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#15555 Release notes for 1.23.x Release #5
  CHANGELOG_ANDROID.md
Labels: CI/skip, QA/No, release-notes, release-notes/exclude
