Repository brave/brave-browser, pull requests merged in 2021-12, with the labels that each got.

#19985 Release notes for `1.32.x - Release #4`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip

#19994 Fix npm run init to work when using NPM >= 8
  lib/util.js
Labels: dev-concern

#20074 Release notes for `1.32.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#20092 [Desktop] Release notes for 1.33.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#20138 Release notes for `1.33.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#20248 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
