Repository brave/brave-browser, pull requests merged in 2021-07, with the labels that each got.

#16745 param for devops repo branch
  Jenkinsfile
Labels: CI/skip

#16958 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#17001 [Desktop] Release notes for 1.26.x Release #4
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#17002 [Android] Release notes for 1.26.x Release #4
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude

#17129 [Desktop] Release notes for 1.27.x Release #1
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#17174 Remove .npmrc
  .gitignore
  .npmrc
Labels: dev-concern

#17197 [Desktop] Release notes for 1.27.x Release #2
  CHANGELOG_DESKTOP.md
Labels: CI/skip, OS/Desktop, QA/No, release-notes, release-notes/exclude

#17229 Release notes for `1.27.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: CI/skip, OS/Android, QA/No, release-notes, release-notes/exclude
