Repository brave/brave-browser, pull requests merged in 2022-07, with the labels that each got.

#23881 Android Release Notes for 1.40.x Release #6
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#23882 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#24014 Desktop Release Notes for 1.41.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#24018 Update Release Notes
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#24153 Desktop Release Notes for 1.41.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#24185 Desktop Release Notes for 1.41.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#24173 Android release notes for `1.41.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#24261 Release notes for `1.41.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#24264 Release notes for `1.41.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#24283 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
