Repository brave/brave-browser, pull requests merged in 2022-06, with the labels that each got.

#23202 Release notes for `1.39.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#23333 Desktop Release Notes for 1.39.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#23345 Release notes for `1.39.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#23397 Desktop Release Notes for 1.39.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#23404 Update 1.39.x Release #4 Release Notes
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#23468 Release notes for `1.39.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#23496 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#23576 Desktop release notes for `1.40.x - Release`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#23625 Android release notes for `1.40.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#23627 Release notes for `1.40.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#23679 Release notes for `1.40.x - Release #3`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop
