Repository brave/brave-browser, pull requests merged in 2022-02, with the labels that each got.

#20832 Release notes for 1.35.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#20954 Release notes for `1.35.x`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#21006 Release notes for `1.35.x - Release #2`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#21009 Release notes for `1.35.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#21146 [Desktop] Release notes for 1.35.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#21268 Release notes for 1.35.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#21288 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
