Repository brave/brave-browser, pull requests merged in 2022-04, with the labels that each got.

#22095 Release notes for `1.37.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#22096 Release notes for `1.37.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#22097 Release notes for `1.37.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#22100 Desktop Relese Notes for 1.37.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#22115 Pin v1.37.111
  package-lock.json
  package.json
Labels: CI/skip

#22171 Release notes for `1.37.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#22239 Release notes for `1.37.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#22246 Release notes for `1.37.x - Release #5`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#22330 Release notes for `1.37.x - Release #7`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop

#22333 Release notes for `1.37.x - Release #7`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Android

#22438 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#22578 Desktop Release Notes for 1.38.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, CI/skip, OS/Desktop
