Repository brave/brave-browser, pull requests merged in 2022-10, with the labels that each got.

#25749 Desktop Release Notes for 1.44.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#25782 Release notes for `1.44.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#25840 Desktop Release Notes for 1.44.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#25945 Desktop Release Notes for 1.44.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#26010 Release notes for `1.44.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#26059 Release notes for `1.44.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#26113 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#26263 Release notes for `1.45.x - Release #2`
  CHANGELOG_DESKTOP.md
Labels: OS/Linux, QA/No, release-notes/exclude, release-notes, OS/Desktop

#26342 Release notes for `1.45.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#26354 Desktop Release Notes for 1.45.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#26364 Release notes for 1.45.x - Release #3
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android
