Repository brave/brave-browser, pull requests merged in 2023-04, with the labels that each got.

#29481 Release notes for `1.49.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#29483 Release notes for `1.49.x - Release #4`
  CHANGELOG_ANDROID.md
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Android

#29536 Desktop Release Notes for 1.50.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#29684 Desktop Release Notes for 1.50.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#29752 Desktop Release Notes for 1.50.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#29855 Desktop Release Notes for 1.50.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#29911 Release notes for `1.50.x - Release #5`
  CHANGELOG_DESKTOP.md
Labels: OS/Linux, QA/No, release-notes/exclude, OS/Desktop

#30001 Release notes for `1.50.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#30026 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
