Repository brave/brave-browser, pull requests merged in 2023-03, with the labels that each got.

#28837 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#28876 Release notes for `1.48.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#29250 Desktop Release Notes for 1.49.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#29340 Desktop Release Notes for 1.49.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#29369 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
