Repository brave/brave-browser, pull requests merged in 2023-09, with the labels that each got.

#32797 Desktop Release Notes for 1.57.x Release #7
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#32802 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#32938 Desktop Release Notes for 1.57.x Release #8
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#32981 Release notes for `1.57.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#32985 Release notes for `1.58.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#32986 Release notes for `1.57.x - Release #6`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#32993 Release notes for `1.57.x - Release #7`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#33008 Desktop Release Notes for 1.58.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#33069 Desktop Release Notes for 1.58.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#33154 Desktop Release Notes for 1.58.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#33211 Desktop Release Notes for 1.58.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#33318 Desktop Release Notes for 1.58.x Release #6
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop
