Repository brave/brave-browser, pull requests merged in 2023-11, with the labels that each got.

#34062 Desktop Release Notes for 1.60.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#34200 Desktop Release Notes for 1.60.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#34337 Release notes for `1.58.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34348 Release notes for `1.58.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34358 Release notes for `1.58.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, QA/Yes, release-notes/exclude

#34360 Release notes for `1.58.x - Release #6`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34362 Release notes for `1.58.x - Release #7`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34402 Release notes for `1.58.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34407 Release notes for `1.59.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34408 Release notes for `1.59.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34421 Release notes for `1.60.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34422 Release notes for `1.60.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#34623 Desktop Release Notes for 1.60.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#34629 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
