Repository brave/brave-browser, pull requests merged in 2023-05, with the labels that each got.

#30087 Release notes for `1.50.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#30108 Desktop Release Notes for 1.51.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#30231 Desktop Release Notes for 1.51.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#30380 Release notes for `1.51.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#30381 Release notes for `1.51.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#30407 Desktop Release Notes for 1.51.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#30413 Release notes for `1.51.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#30523 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#30539 Release notes for `1.51.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#30564 Add build files to gitignore
  .gitignore
Labels: dev-experience, CI/skip

#30718 Desktop Release Notes for 1.52.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop
