Repository brave/brave-browser, pull requests merged in 2023-01, with the labels that each got.

#27645 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#27685 Desktop Release Notes for 1.46.x Release #7
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#27780 Desktop Release Notes for 1.47.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop

#27940 Release notes for `1.47.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#27955 Release notes for `1.47.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Android

#28046 Desktop Release Notes for 1.47.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, release-notes, OS/Desktop
