Repository brave/brave-browser, pull requests merged in 2024-12, with the labels that each got.

#42676 Desktop Release Notes for 1.73.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#42679 Trimming the desktop `CHANGELOG`
  CHANGELOG_DESKTOP.md
  CHANGELOG_DESKTOP_ARCHIVE.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#42730 Android release notes for 1.73.x - Release #3
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#42713 Add Release Notes for iOS Release 1.73.97
  CHANGELOG_iOS.md
Labels: QA/No, OS/iOS, CI/skip

#42831 Desktop Release Notes for 1.73.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#42865 Android release notes for 1.73.x - Release #5
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#42988 Desktop Release Notes for 1.73.x Release #6
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#43017 Android release notes for 1.73.x - Release #6
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android
