Repository brave/brave-browser, pull requests merged in 2024-07, with the labels that each got.

#39332 Add Release Notes for iOS Release 1.66.113
  CHANGELOG_iOS.md
Labels: QA/No, release-notes/exclude, OS/iOS

#39766 Add Release Notes for iOS Release 1.66.123
  CHANGELOG_iOS.md
Labels: QA/No, release-notes/exclude, CI/skip

#39827 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#39856 Add Release Notes for iOS Release 1.66.124 (1.66.2)
  CHANGELOG_iOS.md
Labels: QA/No, release-notes/exclude, CI/skip

#39868 Android release notes for 1.67.x - Release #7
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#39944 Desktop Release Notes for 1.68.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#40057 Release notes for `1.68.x - Release #2`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#40165 Desktop Release Notes for 1.68.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#40169 Android release notes for 1.68.x - Release
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android
