Repository brave/brave-browser, pull requests merged in 2024-02, with the labels that each got.

#35775 Release notes for `1.62.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#35870 Desktop Release Notes for 1.62.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#36030 Release notes for `1.62.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#36083 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#36080 Desktop Release Notes for 1.62.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#36304 Desktop Release Notes for 1.63.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#36322 Release notes for `1.62.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#36330 Release notes for `1.63.x - Release #2`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#36441 Desktop Release Notes for 1.63.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop
