Repository brave/brave-browser, pull requests merged in 2024-04, with the labels that each got.

#37306 Desktop Release Notes for 1.64.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#37467 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#37511 Desktop Release Notes for 1.64.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#37657 Release notes for `1.64.x - Release`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#37659 Release notes for `1.64.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#37662 Release notes for `1.64.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#37697 Android release notes for 1.64.x - Release #4
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#37836 Desktop Release Notes for 1.65.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#37888 Desktop Release Notes for 1.65.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop
