Repository brave/brave-browser, pull requests merged in 2024-01, with the labels that each got.

#35136 Desktop Release Notes for 1.61.x Release #6
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#35172 Release notes for `1.61.x - Release #6`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#35240 Desktop Release Notes for 1.61.x Release #7
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#35255 Release notes for `1.61.x - Release #7`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#35375 Desktop Release Notes for 1.61.x Release #8
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#35379 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#35381 Release notes for `1.61.x - Release #8`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#35578 Desktop Release Notes for 1.62.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#35629 Release notes for `1.62.x - Release #2`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#35739 Desktop Release Notes for 1.62.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop
