Repository brave/brave-browser, pull requests merged in 2024-03, with the labels that each got.

#36586 Desktop Release Notes for 1.63.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#36769 Desktop Release Notes for 1.63.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#36778 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#36781 Release notes for `1.63.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#36784 Release notes for `1.63.x - Release #4`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#36928 Release notes for `1.63.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#36950 Desktop Release Notes for 1.64.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#37135 Desktop Release Notes for 1.64.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop
