Repository brave/brave-browser, pull requests merged in 2024-11, with the labels that each got.

#42007 Add Release Notes for iOS Release 1.70.133
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#42136 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#42132 Android release notes for 1.71.x - Release #4
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#42276 Desktop Release Notes for 1.73.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#42306 Android release notes for 1.73.x - Release
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#42215 Add Release Notes for iOS Release 1.71.125
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#42400 Desktop Release Notes for 1.73.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#42418 Android release notes for 1.73.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android
