Repository brave/brave-browser, pull requests merged in 2024-09, with the labels that each got.

#40823 Desktop Release Notes for 1.69.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#40827 Android release notes for 1.69.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#40887 Android release notes for 1.69.x - Release #4
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#41004 Desktop Release Notes for 1.69.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41011 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#41015 Add Release Notes for iOS Release 1.68.134
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#41110 Add Release Notes for iOS Release 1.68.145
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#41146 Desktop Release Notes for 1.70.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41174 Android release notes for 1.70.x - Release
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#41247 Release notes for `1.70.x - Release #2`
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41250 Android release notes for 1.70.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android
