Repository brave/brave-browser, pull requests merged in 2024-10, with the labels that each got.

#41362 Desktop Release Notes for 1.70.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41369 Android release notes for 1.70.x - Release #3
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#41519 Desktop Release Notes for 1.70.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41523 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#41530 Android release notes for 1.70.x - Release #4
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#41696 Desktop Release Notes for 1.71.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41725 Android release notes for 1.71.x - Release
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#41649 Add Release Notes for iOS Release 1.69.170
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#41773 Add Release Notes for iOS Release 1.69.172
  CHANGELOG_iOS.md
Labels: QA/No, release-notes/exclude, CI/skip

#41835 Desktop Release Notes for 1.71.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41846 Android release notes for 1.71.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#41903 Add Release Notes for iOS Release 1.70
  CHANGELOG_iOS.md
Labels: QA/No, release-notes/exclude, OS/iOS, CI/skip

#41979 Desktop Release Notes for 1.71.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#41984 Android release notes for 1.71.x - Release #3
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android
