Repository brave/brave-browser, pull requests merged in 2025-01, with the labels that each got.

#43177 Desktop Release Notes for 1.73.x Release #7
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#43182 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#43217 Android release notes for 1.73.x - Release #7
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#43309 Desktop Release Notes for 1.74.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#43349 Android release notes for 1.74.x - Release
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#43453 Desktop Release Notes for 1.74.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#43464 Android release notes for 1.74.x - Release #3
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#43405 Add Release Notes for iOS Release 1.74
  CHANGELOG_iOS.md
Labels: QA/No, release-notes/exclude, CI/skip

#43579 Desktop Release Notes for 1.74.x Release #4
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#43596 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#43613 Android release notes for 1.74.x - Release #4
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android
