Repository brave/brave-browser, pull requests merged in 2025-08, with the labels that each got.

#48221 Desktop Release Notes for 1.81.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#48376 chore: Update community domain name
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG_iOS.md
  README.md
Labels: QA/No, release-notes/exclude

#48387 Desktop Release Notes for 1.81.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#48394 Release notes for `1.81.x - Release #3`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#48766 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#48767 Release notes for `1.81.x - Release #5`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android
