Repository brave/brave-browser, pull requests merged in 2025-05, with the labels that each got.

#45796 Desktop Release Notes for 1.78.x
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#45804 Android release notes for 1.78.x - Release
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#45854 Android release notes for 1.78.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#45918 Desktop Release Notes for 1.78.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#45927 Android release notes for 1.78.x - Release #3
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#45998 Android release notes for 1.78.x - Release #4
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude

#46103 Desktop Release Notes for 1.78.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#46109 Android release notes for 1.78.x - Release #5
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#46253 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip

#46131 Update CHANGELOG_iOS for 1.78.103 Release
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#46269 Add Release Notes for 1.78.1
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip
