Repository brave/brave-browser, pull requests merged in 2025-03, with the labels that each got.

#44437 Desktop Release Notes for 1.76.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#44549 Android release notes for 1.76.x - Release
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#44588 Desktop Release Notes for 1.76.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#44620 Android release notes for 1.76.x - Release #3
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#44725 Add Release Notes for iOS Release 1.76.77
  CHANGELOG_iOS.md
Labels: QA/No, release-notes/exclude, CI/skip

#44832 Desktop Release Notes for 1.76.x Release #5
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#44864 Android release notes for 1.76.x - Release #5
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#44876 Desktop Release Notes for 1.76.x Release #6
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#44894 Release notes for `1.76.x - Release #6`
  CHANGELOG_ANDROID.md
Labels: QA/No, release-notes/exclude, OS/Android

#44964 Desktop Release Notes for 1.76.x Release #7
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#44969 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip
