Repository brave/brave-browser, pull requests merged in 2025-10, with the labels that each got.

#49812 Add Release Notes for iOS Release 1.82.1 [changelog]
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#49849 Desktop Release Notes for 1.83.x Release
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#49889 Desktop Release Notes for 1.83.x Release #2
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#49962 Android release notes for 1.83.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#50008 Desktop Release Notes for 1.83.x Release #3
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop
