Repository brave/brave-browser, pull requests merged in 2025-07, with the labels that each got.

#47329 Android release notes for 1.80.x - Release #2
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android

#47358 Add Release Notes for iOS Release 1.80 [Changelog]
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#47526 Update Release Notes for 1.80.116 [Changelog]
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#47529 Add Release Notes for iOS Release 1.80.1 [Changelog]
  CHANGELOG_iOS.md
Labels: QA/No, CI/skip

#47677 Desktop Release Notes for 1.80.x Release #6
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#47876 Desktop Release Notes for 1.80.x Release #7
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#48039 Desktop Release Notes for 1.80.x Release #8
  CHANGELOG_DESKTOP.md
Labels: QA/No, release-notes/exclude, OS/Desktop

#48060 Android release notes for 1.80.x - Release #9
  CHANGELOG_ANDROID.md
Labels: QA/No, OS/Android
